<div class="contact-staff-add-wrapper">
  <div class="actions">
      <p-button
          icon="pi pi-arrow-left"
          label="Back"
          severity="secondary"
          routerLink="/contact/staff"
      ></p-button>
  </div>

  @if (loading()) {
  <div class="loading-message">
      <i class="pi pi-spinner pi-spin"></i> Loading staff...
  </div>
  }

  @if (!loading()) {

      <remote-component
      [remoteEntry]="uiMfeUrl"
      [exposedModule]="'./Form'"
      [exportName]="'FormComponent'"
      [inputs]="{ 
        config: formConfig(),
        loading: saving(),
        fieldErrors: fieldErrors(), 
      }"
      (outputs)="onRemoteOutput($event)"
      ></remote-component>
  } 

</div>

